<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.scoks.order.mapper.CustomerMapper">
    <resultMap id="BaseResultMap" type="com.scoks.order.entity.Customer">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="country" property="country"/>
        <result column="creator" property="creator"/>
        <result column="state" property="state"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="countryName" property="countryName"/>
        <collection property="salesmans" ofType="com.scoks.order.entity.Staff">
            <result column="salesman_id" property="id"/>
            <result column="salesman_name" property="name"/>
        </collection>

    </resultMap>
    <resultMap id="BaseResultMapSalesman" type="com.scoks.order.entity.Customer">
        <id column="id" property="id"/>
        <collection property="salesmans" ofType="com.scoks.order.entity.Staff">
            <result column="salesmanId" property="id"/>
            <result column="salesmanName" property="name"/>
        </collection>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , name, country, creator, state, create_time, update_time
    </sql>

    <select id="listCustomerSalesman" resultMap="BaseResultMapSalesman">
        select a.id,
        s.name AS salesmanName,s.id AS salesmanId
        from `customer` a
        LEFT join `customer_salesman` b on a.id = b.customer_id
        LEFT join `staff` s on s.id = b.salesman_id
        where a.id in
        <foreach collection="list" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>


    </select>

    <select id="selectCustomer" resultMap="BaseResultMap">
        select a.*,c.key AS countryName
        from customer a
        LEFT join `dict` c on a.country = c.id
        where 1=1
        <if test="where.salesmanName!=null">
            and a.id in (
            select cs.customer_id from customer_salesman cs inner join staff s
            on s.id = cs.salesman_id
            <if test="where.salesmanName!=null">
                and s.name like concat('%',#{where.salesmanName},'%')
            </if>
            group by cs.customer_id
            )
        </if>

        <if test="where.name!=null">
            and a.name like concat('%',#{where.name},'%')
        </if>

        <if test="where.country!=null">
            and country = ${where.country}
        </if>
        <if test="where.id!=null">
            and a.id = ${where.id}
        </if>
    </select>


    <delete id="deleteSalesman">
        delete
        from customer_salesman
        where customer_id = #{id}
    </delete>
    <insert id="insertSalesman">
        insert into customer_salesman (customer_id,salesman_id)
        values
        <foreach collection="list" item="item" separator=",">
            (#{id},#{item})
        </foreach>
    </insert>

</mapper>
